@import '~scss/vars';

nav {
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    padding: 2rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    ul {
        
        li {
            padding: 0 1rem;
            a {
                text-transform: uppercase;
                color: $colBlueBasic;
                &:hover {
                    color: $colBlueHover;
                }
            } 
        }
    }
}

.input-search {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e7e7e7;
    color: #cfcfcf;
    width: 31rem;
}

.form-inline {
    width: 35rem;
}

.btn-search {
    background: linear-gradient(40deg,$colBlueBasic,$colPurpleBasic); // GRADIENT
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.navbar-brand {
    margin-right: 4rem;
    font-size: 3rem;
    padding: .7rem 0 0 1rem;

    line-height: 3rem !important;
}

.circle {

    padding: 1rem 2rem;

    img {
        
        width: 3rem;
        height: 3rem;
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover {
            box-shadow: 0 0 3pt 2pt $colPurpleBasic;
        }
    }
}

.spacer {
    padding: 72px 0;
    background: linear-gradient(90deg,$colBlueBasic,$colPurpleBasic); // GRADIENT
}

@media (max-width: 900px) {
    .navbar-brand {
        margin-right: 1rem;
        padding-left: 1rem;
    }

    .circle {
        padding-left: 1rem;
    }

    .form-inline {
        width: 11rem;
    }

    .input-search {
        width: 3rem;
        padding: 1rem 0;
    }
}




