@import '~scss/vars';

nav {
    background-color: transparent;
    padding: .3rem 2rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    ul {
        
        li {
            padding: 0 1rem;
            a {
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 1.2px;
                font-weight: 900;
                font-size: .75rem;
                text-shadow: 1px 1px 1px #000000;
                &:hover {
                    color: #c0bfbf;
                }
            } 
        }
    }

    .nav-icons {
        ul {
            list-style-type: none;
            padding: 1rem 2rem;
            li {
                border-left: 1px solid #192642;
                display: inline;
                padding: 0 2rem;
                .dropdown {
                    display: inline;
                    position: relative;
                    .dropdown-menu {
                        margin: 1rem -1rem 1rem 0;
                        border: 1px solid $colGrayDark;
                        border-top-right-radius: 0;
                        p {
                            font-size: .7rem;
                            padding: .5rem 1rem;
                            border-bottom: 1px solid #e7e7e7;
                        }
                        .dropdown-item {
                            color: $colGrayDarkBackground;
                            font-size: .7rem;
                            cursor: pointer;
                            &:hover {
                                background-color: #ebebeb;
                            }
                        }
                        .arrow-up {
                            width: 0; 
                            height: 0; 
                            border-left: .7rem solid transparent;
                            border-right: .7rem solid transparent;
                            
                            border-bottom: .7rem solid #fff;

                            position: absolute;
                            top: -.7rem;
                            right: .6rem;
                        }
                    }
                }
                i {
                    color: #6d7edf;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover {
                        color: #8696ec;
                    }
                }
                
            }
        }

    }
}

.input-search {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e7e7e7;
    color: #cfcfcf;
    width: 31rem;
}

.form-inline {
    width: 35rem;
}

.btn-search {
    background: linear-gradient(40deg,$colBlueBasic,$colPurpleBasic); // GRADIENT
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.navbar-brand {
    margin-right: 4rem;
    font-size: 3rem;
    padding: .7rem 0 0 1rem;

    line-height: 3rem !important;
}

.circle {

    padding: 1rem 2rem;

    img {
        
        width: 3rem;
        height: 3rem;
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover {
            box-shadow: 0 0 3pt 2pt $colPurpleBasic;
        }
    }
}

@media (max-width: 900px) {
    .navbar-brand {
        margin-right: 1rem;
        padding-left: 1rem;
    }

    .circle {
        padding-left: 1rem;
    }

    .form-inline {
        width: 11rem;
    }

    .input-search {
        width: 3rem;
        padding: 1rem 0;
    }

    nav {
        background-color: #fff;
    }
}




