<nav ng-sticky [offSet]="0" [addClass]="'is-sticky'" class="navbar navbar-expand-lg smooth">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand burbank" href="#">LOGO AND BRAND</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['products']">Products</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 search-form">
            <input class="mr-sm-2 input-search" placeholder="Search...">
        </form>
        <div class="nav-icons">
            <ul>
                <li class="nav-icon" [routerLink]="['/products/all']">
                    <i class="fa fa-search"></i>
                </li>
                <li class="nav-icon" [routerLink]="['/user/']">
                    <i class="fa fa-cart-plus"></i>
                </li>
                <li class="nav-icon">
                    <div class="dropdown">
                        <i class="fa fa-user" id="userDropDown" data-toggle="dropdown" aria-expanded="false">
                        </i>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropDown" ngDefaultControl [(ngModel)]="currentUser">
                            <div class="arrow-up"></div>
                            <div *ngIf="currentUser === undefined">
                                <button class="dropdown-item" [routerLink]="['/auth/login']">Login</button>
                                <button class="dropdown-item" [routerLink]="['/auth/register']">Register</button>
                            </div>
                            <div *ngIf="currentUser != null">
                                <p>Welcome
                                    <b>{{currentUser.username}}</b>
                                </p>
                                <!-- promeni na admin -->
                                <button *ngIf="currentUser.role.name == 'admin'" class="dropdown-item" [routerLink]="['/admin']">Admin</button>
                                <button class="dropdown-item" (click)="logOut()">Log out</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- ROUTES -->
<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6>Links</h6>
                <ul>
                    <li [routerLink]="['/home']">Home</li>
                    <li [routerLink]="['/products']">Products</li>
                    <li [routerLink]="['/about']">About</li>
                </ul>
            </div>
            <div class="col-md-4" *ngIf="currentUser != undefined && (currentUser.role.name === 'admin' || currentUser.role.name === 'user')">
                <h6>Users</h6>
                <ul>
                    <li [routerLink]="['/user/my-products']">My Cart</li>
                </ul>
            </div>
            <div class="col-md-4" *ngIf="currentUser != undefined && currentUser.role.name === 'admin'">
                <h6>Admins</h6>
                <ul>
                    <li [routerLink]="['/admin/home']">Admin panel</li>
                    <li [routerLink]="['/admin/orders']">Orders</li>
                    <li [routerLink]="['/admin/products/all']">Products</li>
                    <li [routerLink]="['/admin/users/all']">Users</li>
                    <li [routerLink]="['/admin/services']">Services</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-project">
        <div class="container">
            <div class="row">
                <div class="col -md-12">
                    <p>Built with
                        <i class="fa fa-heart"></i> by
                        <a href="https://github.com/sebamed">sebamed</a>
                    </p>
                    <p>Project made for educational purposes only
                    </p>
                    <p>Made using
                        <a href="https://angular.io/">Angular 5</a>,
                        <a href="https://jquery.com/">jQuery</a>,
                        <a href="https://getbootstrap.com/">Bootstrap 4.0.0</a> and some great
                        <a href="https://github.com/sebamed/clothes-shop/blob/master/README.md">ng2 libraries</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>