<nav ng-sticky [offSet]="0" [addClass]="'is-sticky'" class="navbar navbar-expand-lg smooth">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand burbank" href="#">LOGO AND BRAND</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['products']">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin']">Admin</a>
                </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 search-form">
            <input class="mr-sm-2 input-search" placeholder="Search...">            
        </form>
        <div class="nav-icons">
            <ul>
                <li class="nav-icon"><i class="fa fa-search"></i></li>
                <li class="nav-icon"><i class="fa fa-cart-plus"></i></li>
                <li class="nav-icon"><i class="fa fa-user"></i></li>
            </ul>
        </div>
    </div>
</nav>
<!-- ROUTES -->
<router-outlet></router-outlet>