<section id="add-product">
    <div class="spacer"></div>
    <div class="container">
        <div class="row" ngDefaultControl>
            <div class="col-md-8">
                <h1>Add new product</h1>
                <form>
                    <div class="form-group">
                        <label for="product-name">Product title:</label>
                        <input maxlength="20" name="title" type="text" class="form-control" id="product-name" placeholder="Product title..." [(ngModel)]="product.title">
                    </div>
                    <div class="form-group">
                        <label for="product-desc">Product description:</label>
                        <textarea maxlength="200" name="desc" class="form-control" id="product-desc" rows="6" placeholder="Product description" [(ngModel)]="product.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product-price">Product price:</label>
                        <br />
                        <input maxlength="4" name="price" [(ngModel)]="product.priceMain" type="text" class="form-control half" id="product-name"
                            placeholder="price...">
                        <input maxlength="2" name="decimal" [(ngModel)]="product.priceDecimal" type="text" class="form-control half" id="product-name"
                            placeholder="decimal...">
                        <select class="form-control half" (change)="setCurrency($event.target.value)">
                            <option *ngFor="let currency of allCurrencies">{{currency|uppercase}}</option>
                        </select>
                        <input name="discount" [(ngModel)]="product.discount" maxlength="2" type="text" class="form-control half" id="product-discount"
                           placeholder="discount in %">
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label>Category:</label>
                        <select name="cat" class="form-control" ngDefaultControl [(ngModel)]="product.category" (ngModelChange)="setCategory($event)">
                            <option *ngFor="let category of categories" [ngValue]="category">{{category.name|uppercase}}</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cb-publish" (click)="togglePublish()">
                        <label class="form-check-label" for="cb-publish">Publish (will apear in product list for all users)</label>
                    </div>
                    <button class="btn btn-green" (click)="addNew()">Submit</button>
                    <button class="btn btn-red">Reset</button>
                </form>
            </div>
            <div class="col-md-4">
                <h1>Preview</h1>
                <br />
                <form>
                    <div class="form-group">
                        <label for="uploadImage">Choose an image</label>
                        <input (change)="onFileChanged($event)" type="file" class="form-control-file form-control" id="uploadImage" accept="image/*">
                    </div>
                </form>
                <div class="product" [(ngModel)]="product" ngDefaultControl>
                    <div class="sale" *ngIf="product.discount">
                        <span>{{product.discount}}%</span>
                    </div>
                    <div class="product-image">
                        <div class="overlay smooth">
                            <div class="overlay-icon">
                                <i class="fa fa-cart-plus"></i>
                            </div>
                        </div>
                        <img [src]="selectedImageUrl" alt="">
                    </div>
                    <div class="product-info">
                        <h3>{{product.title}}</h3>
                        <div class="price">
                            <h4>{{product.priceMain}}</h4>
                        </div>
                        <div class="price-details">
                            <h5>{{product.priceDecimal}}</h5>
                            <h6>{{product.currency}}</h6>
                        </div>
                        <div class="hidden-buttons">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <button class="btn btn-add-to-cart">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>