<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome">
                    <h1>Welcome, <span>sebamed!</span></h1>
                    <h3>You are logged in as admin.</h3>
                    <h3>You can now modify your content here!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="service">
                    <div class="service-info">
                        <div class="title">
                            <h2>Services</h2>
                        </div>
                        <div class="service-icon green">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="service-text">
                            <p>Customize, edit or delete shop services!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="service">
                        <div class="service-info">
                            <div class="title">
                                <h2>News</h2>
                            </div>
                            <div class="service-icon red">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="service-text">
                                <p>Write news, edit them or delete here!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="service">
                            <div class="service-info">
                                <div class="title">
                                    <h2>Users</h2>
                                </div>
                                <div class="service-icon fav-blue">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="service-text">
                                    <p>Approve users, get lists or ban them here!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="service">
                                <div class="service-info">
                                    <div class="title">
                                        <h2>Products</h2>
                                    </div>
                                    <div class="service-icon orange">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="service-text">
                                        <p>Customize your shop here!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</section>