<section id="our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service">
                    <div class="title">
                        <h2>Service</h2>
                    </div>
                    <div class="service-info">
                        <div class="service-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="service-text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, fuga beatae. Officiis tempore
                                minus repudiandae reiciendis id dolorem animi numquam suscipit magnam eveniet fugit ut voluptatibus
                                eum quo, neque ea.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="title">
                        <h2>Drugo nesto</h2>
                    </div>
                    <div class="service-info">
                        <div class="service-icon">
                            <i class="fa fa-bars"></i>
                        </div>
                        <div class="service-text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, fuga beatae. Officiis tempore
                                minus repudiandae reiciendis id dolorem animi numquam suscipit magnam eveniet fugit ut voluptatibus
                                eum quo, neque ea.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="title">
                        <h2>Trece</h2>
                    </div>
                    <div class="service-info">
                        <div class="service-icon">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <div class="service-text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, fuga beatae. Officiis tempore
                                minus repudiandae reiciendis id dolorem animi numquam suscipit magnam eveniet fugit ut voluptatibus
                                eum quo, neque ea.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>