<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome">
                    <h1>Services:</h1>
                </div>
            </div>
        </div>
        <div class="row edit">
            <div class="col-md-4" *ngFor="let service of services; let i = index">
                <div class="edit-service">
                    <div class="edit-icon" (click)="openModal()">
                        <i ngDefaultControl [(ngModel)]="services[i].icon" class="fa fa-{{ service.icon }}"></i>
                    </div>
                    <div class="edit-text">
                        <form>
                            <div class="form-group">
                                <label for="title">Service title:</label>
                                <input maxlength="15" ngDefaultControl [(ngModel)]="services[i].title" class="form-control" id="title" placeholder="{{ service.title }}" name="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Service description:</label>
                                <textarea ngDefaultControl [(ngModel)]="services[i].text" placeholder="{{ service.text }} " class="form-control" id="description" rows="3" name="text"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button (click)="saveAllServices()" type="submit" class="btn btn-save">Save changes</button>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="welcome">
                    <h1>Preview:</h1>
                </div>
            </div>
        </div>
        <div class="row preview">
            <div class="col-md-4" *ngFor="let service of services; let i = index">
                <div class="service">
                    <div class="title">
                        <h2 ngDefaultControl [(ngModel)]="services[i].title">{{ service.title }}</h2>
                    </div>
                    <div class="service-info">
                        <div class="service-icon">
                            <i ngDefaultControl [(ngModel)]="services[i].icon" class="fa fa-{{ service.icon }}"></i>
                        </div>
                        <div class="service-text">
                            <p ngDefaultControl [(ngModel)]="services[i].text">{{ service.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>