table, .table, thead, tr, th, tbody, td {
    background-color: #19253F; 
    border: 3px solid #141D31;
    color: #fff;
    text-align: center;
    width: 100%;
}

.modal-open,  .modal {
    width: 10px !important;
}

.head:hover {
    th, td {
        box-shadow: none;
    }
}

tr:hover {
    th, td {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, .1);
    }
}