<section id="products">
    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-md-3">
                <div class="product" *ngIf="product.public === true">
                    <div class="sale" *ngIf="product.discount > 0">
                        <span>{{product.discount}}%</span>
                    </div>
                    <div class="product-image">
                        <div class="overlay smooth">
                            <div class="overlay-icon">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="http://localhost:8080/product-images/{{product.image.url}}"
                            alt="">
                    </div>
                    <div class="product-info">
                        <h3>{{product.title}}</h3>
                        <div class="price">
                            <h4>{{product.priceMain}}</h4>
                        </div>
                        <div class="price-details">
                            <h5>{{product.priceDecimal}}</h5>
                            <h6>{{product.currency}}</h6>
                        </div>
                        <div class="hidden-buttons">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <button class="btn btn-add-to-cart">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>