<section id="products">
    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <div class="sale">
                        <span>50%</span>
                    </div>
                    <div class="product-image">
                        <div class="overlay smooth">
                            <div class="overlay-icon">
                                <i class="fa fa-cart-plus"></i>
                            </div>
                        </div>
                        <img src="http://cdn.shopify.com/s/files/1/0187/6386/products/3175928bae43325f.png?v=1501621577"
                            alt="">
                    </div>
                    <div class="product-info">
                        <h3>Gray leather shoes</h3>
                        <div class="price">
                            <h4>234</h4>
                        </div>
                        <div class="price-details">
                            <h5>99</h5>
                            <h6>USD</h6>
                        </div>
                        <div class="hidden-buttons">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <button class="btn btn-add-to-cart">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>