<section id="products">
    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <!-- 
                DODAJ SEARCH, KOLIKO DA PRIKAZUJE (PAGINATION) I KOLIKO U REDU (3, 4)
            -->
            <div class="col-md-8">
                <div class="search-bar">
                    <div>
                        <input ngDefaultControl [(ngModel)]="searchText" id="search" type="search" class="validate" placeholder="search">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p class="inline">View in column:</p>
                <select name="view" (change)="onChange($event.target.value)">
                    <option selected="selected">3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div ngDefaultControl [(ngModel)]="view" *ngFor="let product of products | paginate: { itemsPerPage: 30, currentPage: p } | filterProducts : searchText"
                class="col-md-{{view}}">
                <div class="product" *ngIf="product.public === true">
                    <div class="sale" *ngIf="product.discount > 0">
                        <span>{{product.discount}}%</span>
                    </div>
                    <div class="product-image">
                        <div class="overlay smooth">
                            <div class="overlay-icon">
                                <i [routerLink]="['/product/', product.id]" class="fa fa-eye"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-info">
                        <h3>{{product.title}}</h3>
                        <h4><s>{{product.priceMain}}.{{product.priceDecimal}}</s></h4>
                        <div class="price">
                            <h4>{{product.priceMain-(product.priceMain*(product.discount/100)) | number : '1.0-0' }}</h4>
                        </div>
                        <div class="price-details">
                            <h5>{{product.priceDecimal}}</h5>
                            <h6>{{product.currency}}</h6>
                        </div>
                        <div class="hidden-buttons">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <button class="btn btn-add-to-cart" (click)="updateOrder(product)">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>

                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>
</section>