@import '~scss/vars';

#products {
    background-color: #fff;
}

.inline {
    display: inline-block;
}

select {
     padding: 1rem;
     margin-left: 1rem;
}

.search-bar {
    border-bottom: 1px solid #D6E2EB;
    padding-top: 10px;
    input {
        padding: 2rem 0;
        margin-bottom: 0 !important;
        width: 100%;
        border: none;
        background-color: transparent;
    }
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .sale {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        background-color: $colLightGreen;
        text-align: center;
        padding: .7rem;
        border-radius: 5px;
        span {
            color: #fff;
        }
    }

    .product-info {
        position: relative;
        padding: 1.2rem 1.2rem 0 1.2rem;
        h3 {
            font-size: 1.3rem;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;
        }
        .price {
            display: inline-block; 
            text-align: right;
            h4 {
                font-size: 2.7rem;
                font-weight: 300;
            }
        }
        .price-details {
            text-align: left;
            display: inline-block;
            h5 {
                line-height: .4rem;
                color: $colTitleYellow;
            }
            h6 {
                color: #ddd;
            }
        }

        .hidden-buttons {
            display: none;
            i {
                font-size: 1.9rem;
                margin: .9rem 1rem;
            }
        }
    }
    



    .product-image {
        border-bottom: 1px solid #ddd;
        background-color: #eee;
        position: relative;
        img {
            width: 15rem;
        }

        .overlay {
            box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .overlay-icon {
                position: relative;
                width: 100%;
                height: 100%;
            }

            i {
                color: #fff;
                font-size: 5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                cursor: pointer;

                &:hover {
                    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    transform: translateX(-50%) translateY(-50%) scale(1.2);
                }
            }
        }
    }

    &:hover {
        .product-image {
            .overlay {
                opacity: .7;
            }
        }

        .product-info {
            .hidden-buttons {
                display: block;
            }

            .price, .price-details {
                display: none;
            }
        }
    }

    .btn-add-to-cart {
        margin: 0 1rem 1.5rem 1rem;
        background-color: transparent;
        border: 2px solid #262626;
        padding: .7rem 1rem;
        font-size: .8rem;
        color: #262626;
        font-weight: 900;
        i {
            color: $colTitleYellow;
            margin-right: .5rem;
            font-size: 1rem;
        }
        &:hover {
            background-color: #262626;
            color: #fff;
        }
    }
}