<ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngu-item NguCarouselItem class="carousel-item odd">
        <div class="item-title-odd">
            <h1>NEKI TITL OVDE IDE!</h1>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam harum ad officiis odit, assumenda minima quos
                totam a tenetur! Suscipit similique fuga praesentium illo earum, eligendi saepe omnis maiores animi?</h3>
            <button class="btn">
                View more
            </button>
            <button class="btn">
                Add to cart
            </button>
        </div>
        <div class="item-specs-odd">
            <img src="http://cdn.shopify.com/s/files/1/0187/6386/products/3175928bae43325f.png?v=1501621577" alt="" />
            <div class="price price-odd">
                <h1>199.99$</h1>
            </div>
        </div>
    </ngu-item>
    <ngu-item NguCarouselItem class="carousel-item even">

        <div class="item-specs-even">
            <img src="https://cdn.shopify.com/s/files/1/0187/6386/products/S18PK04_BLUE_FRONT_9296dc80-c98b-4cd1-9ce8-137a2fc2a285.png?v=1518825211"
                alt="" />
            <div class="price price-even">
                <h1>199.99$</h1>
            </div>
        </div>
        <div class="item-title-even">
            <h1>OVDE ISTO</h1>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam harum ad officiis odit, assumenda minima quos
                totam a tenetur! Suscipit similique fuga praesentium illo earum, eligendi saepe omnis maiores animi?</h3>
            <button class="btn">
                View more
            </button>
            <button class="btn">
                Add to cart
            </button>
        </div>
    </ngu-item>
    <ngu-item NguCarouselItem>
        TRECI SLAJD
    </ngu-item>


    <button NguCarouselPrev class="leftRs">&lt;</button>
    <button NguCarouselNext class="rightRs">&gt;</button>
</ngu-carousel>