@import "~scss/vars";

.carousel-item {
    padding: 4rem 8rem 2rem 8rem !important;

    img {
        width: 400px;
        transform: scale(1.6);
    }
    .sale-image {
        text-align: center;
    }
}

.true {
    background: linear-gradient(90deg,$colBlueBasic,$colPurpleBasic); // GRADIENT
    text-align: right;
}

.false {
    background: linear-gradient(90deg,$colPurpleBasic,$colBlueBasic); // GRADIENT
    text-align: right;
}

h1, h3 {
    color: #fff;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 5rem;
}

h3 {
    margin-top: 2rem;
}

.btn {
    background: transparent;
    border: 1px solid #ffffff65;
    padding: 1.5rem 3rem .5rem 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
    font-family: 'Burbank';
    color: #fff;
    font-size: 3rem;

    &:hover {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
    }
}

.item-title-true {
    position: relative;
    z-index: 99;
    padding: 0 1rem;
    float: left;
    width: 50%;
    text-align: right;
}

.item-specs-true {
    padding: 0 1rem;
    width: 50%;
    text-align: center;
    display: inline-block;
}

.item-title-false {
    position: relative;
    z-index: 99;
    padding: 0 1rem;
    float: right;
    width: 50%;
    text-align: left;
}

.item-specs-false {
    padding: 0 1rem;
    width: 50%;
    text-align: center;
    display: inline-block;
}

.price-false {
    left: 5rem;
}

.price-true { 
    right: 5rem;
}

.price {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    bottom: 0;
    background-color: $colTitleYellow;
    padding: 1.5rem 2rem 0 2rem;
    position: absolute;
    h1 {
        font-size: 5rem;
    }
    &:hover {
        transform: scale(1.1);
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
        cursor: pointer;
    }
}

@media (max-width: 900px) {    
    .carousel-item {
        padding: 1rem 4rem !important;
        img {
            width: 400px;
            transform: scale(1.05);
        }
    }

    .price {
        bottom: 0;
        h1 {
            font-size: 3rem;
        }
    }

    h1 {
        font-size: 3rem;
    }
    
    h3 {
        margin-top: 1rem;
    }

    .price-true {
        right: 1rem;
    }

    .price-false {
        left: 1rem;
    }

    .btn {
        font-size: 2rem;
        padding: .5rem 1rem 0rem 1rem;
    }
}

.carousel-nav {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    padding: 0 1rem;
    color: #ffffff69;
    font-size: 6rem;
    i {
        margin: 0;
    }

    &:hover {
        color: #ffffffb9;
    }
}

.left-nav {
    left: 0;
}

.right-nav {
    right: 0;
}