<ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngu-item NguCarouselItem *ngFor="let product of latestProducts; let i = index" class="carousel-item {{i % 2 == 0}}">
            <div class="spacer"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>{{product.title}}</h1>
                        <h3>{{product.description}}
                        </h3>
                        <button class="btn" [routerLink]="['/product/', product.id]">
                            View more
                        </button>
                        <button class="btn">
                            Add to cart
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="sale-image">
                            <img class="img-fluid" src="{{product.image.url}}" alt=""
                            />
                        </div>
                        <div class="price price-true smooth">
                            <h1>{{product.priceMain-(product.priceMain*(product.discount/100)) | number : '1.0-0' }}.{{product.priceDecimal}} {{product.currency}}</h1>
                        </div>
                    </div>
                </div>
            </div>
    </ngu-item>
    <button NguCarouselPrev class="carousel-nav left-nav">
        <i class="fa fa-angle-left"></i>
    </button>
    <button NguCarouselNext class="carousel-nav right-nav">
        <i class="fa fa-angle-right"></i>
    </button>
</ngu-carousel>
<home-services></home-services>