$mediaTablet: 768px;

$colBlueBasic: #33B5E5;
$colBlueHover: #0aace7;
$colPurpleBasic: #3F51B5;
$colTitleYellow: #F9CF30;
$colGrayDark: #243A51;
$colGrayDarkBorder: #1f344b;
$colGrayDarkFooter: #060A14;