@import '~bootstrap/dist/css/bootstrap.min.css'; // bootstrap

// local scss
@import '~scss/vars';

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); // open sans
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);\
           @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);\
           @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext');


// fonts
@font-face {
    font-family: 'Burbank';
    src: url(/assets/fonts/BurbankBigCondensed-Bold.otf);
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 4rem;
}

h1, h2, h3, .burbank {
    font-family: 'Burbank';
}

a, img, .smooth, h1, h2 {
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

#home, #services, #add-product, #login, #register {
    background-color: $colGrayDarkBackground;
    padding: 5rem;
}

.welcome {

    margin-bottom: 5rem;

    span {
        color: $colTitleYellow;
    }

    h1, h3 {
        color: #fff;
    }
    h1 {
        font-size: 6rem;
    }

    h3 {
        letter-spacing: 1px;
    }
}

.btn {
    text-transform: uppercase;
}

*:focus{
    outline:0px !important;
}

.green {
    background-color: $colLightGreen;
}

.orange {
    background-color: $colFortOrange;
}

.red {
    background-color: $colRed;
}

.fav-blue {
    background-color: $colFavBlue;
}

.spacer {
    padding: 3rem 0;
}

form {

    padding: 1rem;

    .form-check {
        padding: .75rem 1.125rem;
        color: #fff;
        background-color: #19253f;
        border: 2px solid #141d31;
        border-radius: .5rem;
        margin-bottom: 1rem;
        input {
            margin-left: .7rem;
        }
        label {
            margin-left: 2rem;
        }
    }

    .form-group {

        textarea {
            resize: none;
        }

        label {
            color: #fff;
            font-size: 1.2rem;
        }

        .form-control {
            padding: .75rem 1.125rem;
            color: #fff;
            background-color: #19253f;
            border: 2px solid #141d31;
            border-radius: .5rem;
        
            &::-webkit-input-placeholder, &::-moz-placeholder {
                color: #fff;
            }
        }

        .half {
            width: 20%;
            float: left;
            margin-right: 1rem;
        }

        select {
            padding: 0 !important;
        }


    }
    button {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .4px;
        font-weight: 500;
        border: 2px solid transparent;
        transition: none;
        cursor: default;
        padding: .75rem 1.5rem;
        font-size: 1rem;
        line-height: 1.25;
        border-radius: .5rem; 
        margin: auto;
        display: inline;
    }

    .btn-green {
        background-color: $colLightGreen;
    }

    .btn-red {
        background-color: $colRed;
    }

    .form-check {
        padding: 1rem;
        color: #fff;
    }
}
