@import '~bootstrap/dist/css/bootstrap.min.css'; // bootstrap

// local scss
@import '~scss/vars';

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// fonts
@font-face {
    font-family: 'Burbank';
    src: url(/assets/fonts/BurbankBigCondensed-Bold.otf);
}

body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4rem;
}

h1, h2, h3, .burbank {
    font-family: 'Burbank';
}

a, img {
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn {
    text-transform: uppercase;
}

*:focus{
    outline:0px !important;
    -webkit-appearance:none;
}
